.articles {
  position: fixed;
  height: 100%;
  width: 100%; //pointer-events: none;
  top: 0;
  right: -100vw;
  transform: translate3d(0, 0, 0);
}

.article {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  padding: 1.8rem;
  overflow-x: hidden;
  overflow-y: scroll;
  transform: translateX(100vw) translate3d(0, 0, 0);
  display: flex;
  flex-direction: column;

  &._viewed {
    transform: translateX(-100vw);
    opacity: 1;
    z-index: 10;
    .article__txt,
    .article__title {
      opacity: 1;
    }
  }

  &__badges {
    display: inline;
    max-width: fit-content;
    display: flex;
    gap: 0.8rem;
  }
  &__badge {
    background: rgba(255, 255, 255, 0.3);
    font-family: $font1;
    margin-bottom: 0.8rem;
    border-radius: 2.4rem;
    display: block;
    max-width: fit-content;
    display: flex;
    align-items: center;
    font-size: clamp(1.2rem, 1.7vw, 2.2rem);
    padding: 0.6rem 1.2rem;
    line-height: normal;
    font-weight: 500;
    color: #fff;
    position: relative;
    z-index: 2;
    order: 1;
    max-height: 2.5rem;
    @media (min-width: $mobile) {
      padding: 0.8rem 1.6rem;
      margin-bottom: 2.3vw;
      max-height: 3.8rem;
    }
  }

  &__title {
    color: #fff;
    font-weight: 600;
    font-family: $font1;
    font-size: 3.2rem;
    margin-bottom: 1.2rem;
    line-height: 3.3rem;
    order: 2;
    @media (min-width: $mobile) {
      font-size: clamp(3.2rem, 7vw, 8rem);
      max-width: 50%;
      line-height: 5.2vw;
      font-weight: 600;
      margin-bottom: 2.3vw;
      position: relative;
      z-index: 1;
    }
  }

  &__txt {
    order: 4;
    position: relative;
    z-index: 1;
    p,
    li {
      font-size: clamp(1.6rem, 2vw, 2.2rem);
      color: #fff;
      list-style: none;
    }

    @media (min-width: $mobile) {
      max-width: 51%;
    }
  }

  &__pic {
    order: 3;
    border-radius: 2rem;
    align-self: center;
    margin-bottom: 0.8rem;
    display: flex;
    max-width: 60rem;
    width: 100%;

    picture {
      flex-basis: 100%;
    }

    img {
      width: 100%;
      max-width: 100%;
      display: block;
      margin: 0 auto;
      border-radius: 1.2rem;
    }

    @media (min-width: $mobile) {
      position: absolute;
      border-radius: 5.6rem;
      right: 7.2rem;
      top: 7.2rem;
      width: 42vw;
      height: auto;
      max-width: 33vw;
      overflow: hidden;
    }
  }

  .article__txt {
    //Типографика
    .text-link {
      color: inherit;
    }
    .redtext {
      color: #ff641e;
    }

    @media (max-width: $mobile) {
      li,
      p {
        background-color: $color-dark;
        margin-bottom: 0.8rem;
        position: relative;
        padding: 1.2rem 1.6rem 1.6rem;
        border-radius: 2rem;
      }
      p:last-of-type {
        margin-bottom: 10rem;
      }
    }
  }

  .article-list {
    padding: 0;
    margin: 0;
    margin-bottom: 10rem;

    @media (min-width: $mobile) {
      // max-width: 50%;
      padding-left: 4.2rem;
      margin-left: -1.2rem;
      li {
        background-color: transparent;
        margin-bottom: 2.4rem;
        padding: 0;
        font-weight: 400;
        &:before {
          position: absolute;
          content: "";
          z-index: -1;
          width: 0.2em;
          height: 0.2em;
          border-radius: 50%;
          overflow: hidden;
          background: #fff;
          margin-left: -1em;
          margin-top: 0.5em;
        }

        &:first-of-type {
          &:before {
            // display: none;
          }
        }
      }
    }
  }

  .article-list_inner {
    padding-left: 2rem;
    li {
      background-color: transparent;
      margin-bottom: 0;
      padding: 0;
      line-height: 2.2rem;
      font-weight: 400;
      position: relative;
      &:before {
        position: absolute;
        content: "";
        width: 0.2em;
        height: 0.2em;
        border-radius: 50%;
        overflow: hidden;
        background: #ff5b21;
        margin-left: -0.8em;
        margin-top: 0.5em;
      }
    }
    @media (min-width: $mobile) {
      padding-left: 4.2rem;

      li {
        background-color: transparent;
        padding: 0;
        font-weight: 400;
        line-height: 2.15vw;
        &:first-of-type {
          &:before {
            display: block;
          }
        }
      }
    }
  }
  .icon {
    display: block;
    max-width: 3.2rem;
    margin-bottom: 1rem;
    img {
      width: 100%;
      display: block;
    }
    @media (min-width: $mobile) {
      display: inline-block;
      position: absolute;
      width: 3.5rem;
      left: -0.5rem;
      top: -1rem;
    }
  }

  @media (min-width: $mobile) {
    padding: 7.2rem 7.2rem 7.7rem;
    &_no-image {
      .article-list,
      .article__title {
        max-width: 100%;
      }
    }
  }
}
