.cards {
  flex-flow: column-reverse;
  position: relative;
  max-height: 100%;
  display: flex;
  flex: 100% 1 1;

  &-list {
    display: grid;
    flex: 100% 1 1;
    gap: 2vh 1.8vh;
    height: 100%;
    max-height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 22% 22% 22% 22%;
    grid-template-rows: 34vh 17vh 17vh;
    @media (max-width: 1000px) {
      grid-template-rows: 34vh 20vh 20vh;
    }
  }
  .card {
    &_1 {
      grid-column: 1/2;
      grid-row: 1/3;
    }
    &_2 {
      grid-column: 1/2;
      grid-row: 3/4;
    }

    &_3 {
      grid-column: 2/3;
      grid-row: 1/2;
    }

    &_4 {
      grid-column: 2/3;
      grid-row: 2/3;
    }

    &_5 {
      grid-column: 2/3;
      grid-row: 3/4;
    }

    &_6 {
      grid-column: 3/4;
      grid-row: 1/2;
    }

    &_7 {
      grid-column: 3/4;
      grid-row: 2/4;
    }
  }

  @media (max-width: 780px) {
    height: auto;
    .cards-list {
      display: flex;
      flex-flow: column nowrap;
      gap: 1.6rem;
      .card {
        width: 100%;
        height: auto; //flex:100% 1 1;
        &_1 {
          order: 1;
          height: 38rem;
        }
        &_2 {
          order: 3;

          height: 26.5rem;
        }

        &_3 {
          order: 2;
          height: 26.5rem;
        }

        &_4 {
          order: 4;
          height: 19rem;
        }

        &_5 {
          order: 5;
          height: 19rem;
        }

        &_6 {
          order: 6;
          height: 26.8rem;
        }

        &_7 {
          order: 7;
          height: 19rem;
        }
      }
    }
  }
  // @media (min-width: 1440px) {
  //   height: calc(95vh - 9rem);
  // }

  .card {
    background: #1f2229;
    border-radius: 3.2rem;
    overflow: hidden;
    transform: translateZ(0);
    padding: 1.9vh 1.9vh 1.5vh;
    flex: 23% 0 1;
    position: relative;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    @media (max-width: 780px) {
      border-radius: 2rem;
      flex: none;
      padding: 1.6rem;
      min-height: 19rem;
    }

    &__bg_mobile {
      display: none;
    }
    &__bg {
      position: absolute;
      left: 0;
      bottom: 0;
      z-index: -1;
      width: 100%;
      min-height: 100%;
      pointer-events: none;
      img {
        width: 100%;
        min-height: 100%;
        display: block;
        margin: 0;
        position: absolute;
      }
      .svg-pic {
        position: absolute;
        right: -2px;
        top: -2px;
      }
    }
    &__content {
      justify-self: flex-end;
    }

    &__header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
    }
    &__badge {
      background: rgba(244, 244, 244, 0.3);
      padding: 0.6rem 1.2rem;
      border-radius: 2.4rem;
      overflow: hidden;
      display: inline-block;
      font-size: 1.2rem;
      line-height: normal;
      font-weight: 500;
      max-height: 2.5rem;
      text-transform: uppercase;
      // margin-bottom: 2.8vh;
    }
    &__badges {
      display: flex;
      gap: 1rem;
    }
    &--medium {
      .card__title {
        font-size: clamp(2.8rem, 4.5vh, 4.8rem);
        font-weight: 500;
        line-height: 4.9vh;
        max-width: 90%;
      }
    }
    &__title {
      font-family: $font1;
      font-weight: 700;
      font-size: clamp(2.8rem, 4vh, 4.2rem);
      line-height: 3.5vh;
      margin-bottom: 1vh;
      font-weight: 500;
      position: relative;
      z-index: 1;
      @media (max-width: 780px) {
        font-size: 2.8rem !important;
        line-height: 3.36rem !important;
      }
    }
    &-list {
      margin: 0;
      padding-left: 2rem;
    }
    &__txt {
      position: relative;
      z-index: 10;
      p,
      li {
        margin: 0;
        position: relative;
        font-size: clamp(1.6rem, 1.88vh, 2rem);
        line-height: 2.8vh;
        font-weight: 400;
        color: #ffffffb2;
      }
    }
    &__link {
      background: #ffffff39;
      border-radius: 50%;
      width: 3.6rem;
      height: 3.6rem;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.3s ease-in-out;

      display: none; //

      &_right-bottom {
        top: auto;
        bottom: 2rem;
      }

      @media (max-width: 780px) {
        right: 1.6rem;
        top: 1.6rem;
        width: 3.1rem;
        height: 3.1rem;
        &_right-bottom {
          bottom: auto;
          top: 1.6rem;
        }
      }
    }

    &--big {
      flex: 60% 1 1;
      .logo {
        max-width: 100%;
        margin-bottom: 1.6rem;
        &_mobile {
          display: none;
        }
        &_desktop {
          display: block;
        }
      }
    }

    &:hover {
      //transform: translateY(-1px);
      .card__link {
        transform: rotate(0);
      }
    }

    @media (max-width: 780px) {
      border-radius: 2rem;
      flex: none;
      padding: 1.6rem;
      min-height: 19rem;
      &__badge {
        top: 1.6rem;
      }
      .card__bg_desktop {
        display: none;
      }

      .card__bg_mobile {
        display: block;
      }
      .logo {
        height: 3.5rem;
        margin-bottom: 0.5rem;
        &_mobile {
          display: block;
        }

        &_desktop {
          display: none;
        }
      }
      .card__bg {
        img {
          width: 100%;
          height: 100%;
          object-position: bottom;
          object-fit: cover;
          top: auto;
          bottom: 0;
        }
        .svg-pic {
          top: auto;
          bottom: 0rem;
        }
      }
      &__title {
        font-size: 2.8rem;
        line-height: 3.36rem;
      }
      &__txt {
        max-width: 100%;
        p,
        li {
          font-size: 1.6rem;
          line-height: 2.24rem;
        }
      }
    }
  }

  .card_1 {
    justify-content: flex-start;
    padding-bottom: 0;
    .card__header {
      margin-bottom: 1.6rem;
    }
    .card__content {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    .card__txt {
      flex: 100% 1 1;
      max-width: 70%;
      @media (max-width: 780px) {
        max-width: 78%;
      }
    }

    .card__image {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 90%;
      max-width: 18vw;
      img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
      }
      @media (max-width: 780px) {
        max-width: 70%;
        max-height: 80%;
        display: flex;
        justify-content: center;
        bottom: 0rem;
        // transform: none;
        // left: auto;
        // right: 0rem;
        img {
          display: block;
          max-width: none;
          height: 100%;
          max-height: 25rem;
          margin: 0 auto;
        }
      }
    }
  }

  .card_2 {
    .card__txt {
      // max-width: 70%;
      @media (max-width: 780px) {
      }
    }
    .card__image {
      position: absolute;
      max-width: 15vw;
      position: absolute;
      top: 0rem;
      right: -4rem;
      display: none;
      img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
      }

      @media (max-width: 780px) {
        max-width: 70%;
        max-height: 80%;
        display: flex;
        justify-content: center;
        transform: none;
        bottom: 6rem;
        left: auto;
        right: -8rem;
        img {
          display: block;
          max-width: none;
          height: 100%;
          max-height: 25rem;
          margin: 0 auto;
        }
      }
    }
  }

  .card_3 {
    justify-content: space-between;
    padding-bottom: 0;

    .card__txt {
      // max-width: 70%;
      padding-bottom: 1.5vh;
    }
    .logo {
      height: 4.6rem;
    }
    .card__image {
      position: absolute;
      width: 90%;
      display: flex;
      justify-content: flex-end;
      z-index: 1;
      max-width: 17vw;
      top: 50%;
      right: 0rem;
      transform: translateY(-43%);
      img {
        display: block;
        max-width: 100%;
      }
    }

    @media (max-width: 780px) {
      .card__txt {
        padding-bottom: 1.6rem;
      }
      .logo {
        height: 2.3rem;
      }

      .card__image {
        width: auto;
        max-width: none;
        height: 80%;
        max-width: 21vw;
        img {
          display: block;
          max-height: 100%;
          width: auto;
          max-width: none;
        }
      }
    }
  }

  .card_6 {
    position: relative;
    .card__content {
      @media (max-width: 768px) {
        max-width: 100%;
      }
    }
    .card__title,
    .card__txt {
      position: relative;
      max-width: 65%;
    }
    .card__image {
      z-index: 0;
      max-width: 18vw;
      position: absolute;
      top: -3rem;
      right: 0;
      img {
        display: block;
        max-width: 100%;
      }
      @media (max-width: 768px) {
        right: -1rem;
        max-width: 25rem;
      }
    }
  }

  .card_7 {
    .card__image {
      display: none;
      position: absolute;
      right: 0%;
      top: 0;
      width: 80%;
      max-width: 20vw;
      z-index: 0;
      img {
        display: block;
        max-width: 100%;
      }
    }
  }

  .news-date {
    color: #8c92a1;
  }
  .other-news {
    &__link {
      text-decoration: none;
      color: #8c92a1;
      display: flex;
      align-items: center;
      cursor: pointer;
      .arrow-icon {
        margin-left: 0.8rem;
      }
      svg {
        display: block;
        margin: 0;
      }
      &:hover {
        .arrow-icon {
          transform: translateX(2px);
        }
      }
    }
    @media (max-width: 780px) {
      position: absolute;
      bottom: 0;
    }
  }
}
