.cards{display: flex;flex-flow: column-reverse;position: relative;
  height:calc(90vh - 9rem);
  &-list{display: flex;flex-flow: wrap column;
    height:100%;gap:2vh;
  }

  @media (max-width: 780px){height: auto;
    padding-bottom: 4.5rem;
    .cards-list{display: flex;flex-flow: column nowrap;
      .card{width: 100%;height: auto;//flex:100% 1 1;

      }
    }
  }

  &-info{display: flex;justify-content: space-between;align-items: center;margin-bottom: 1rem;}

  .card{background: #000;border-radius: 3.2rem;overflow: hidden;transform: translateZ(0);
    padding:1vh 2rem 2vh;width:33%;flex:23% 0 1;
    position: relative;cursor:pointer;-webkit-tap-highlight-color: transparent;
    display: flex;flex-direction: column;justify-content: flex-end;align-items: flex-start;
    //transition: .2s liear;
    &__bg{position: absolute;top:0;right: 0;bottom: 0;
      z-index: -1;width: 100%;min-height: 100%;
      img{height: 100%;display: block;margin: 0;float:right;
        //min-width: 100%;
      }
      .svg-pic{position: absolute;right: -2px;top:-2px;}
    }
    &__badge{background: #282C34;padding: .1rem .8rem;border-radius: 2.4rem;overflow: hidden;display: inline-block;
      font-size: 1.4rem;font-weight: 700;
      position: absolute;top:2vh;left:4.4rem;
      &.badge--rtk{background:#641AEA;}
    }
    &__title{font:700 2.8rem/1 $font1;margin-left: 2.4rem;margin-bottom: 1rem;}
    &__txt{margin-left: 2.8rem;
      p{margin-bottom: .3rem;display: block;position: relative;
        font-size: 1.6rem;
        &:before{@extend %ab;
          width: .2em;height:.2em;border-radius: 50%;overflow:hidden;
          background: #fff;margin-left:-2rem;margin-top:.5em;
        }
      }
    }
    &__link{background: #fff;border-radius: 50%;width: 3.6rem;height:3.6rem;
      text-align: center;display: flex;align-items: center;justify-content: center;
      position: absolute;right:2rem;top:2rem;

      transform: rotate(-45deg);transition: .3s ease-in-out;
    }

    &--big{flex:68% 1 1;
      justify-content: flex-start;
      .logo{height: 5.8rem;margin-bottom: 1.6rem;margin-top: 2rem;display: block}
      .card__txt{
        p{margin-bottom: 1.6rem;font-size: 1.2em}
      }
      .card__bg{bottom:0;display: flex;align-items: flex-end;
        img{min-width: 100%;height: auto;//min-height: 100%;
        }
        .gradient-bg{width:100%;position:relative;
          &:before{@extend %ab;
            height: 20rem;width:100%;top:-5rem;
            background: linear-gradient(to bottom,  rgba(0,0,0,1) 31%,rgba(0,0,0,0) 100%);
          }}

      }
      .card__link{background: #101216;bottom:2rem !important;top:auto}
    }
    &--medium{flex:calc(50% - 1vh) 1 1;
      .card__badge{position: relative;left:2.4rem;top:auto;margin-bottom: 1.6rem}
    }

    &:hover{
      //transform: translateY(-1px);
      .card__link{transform: rotate(0)}
    }

    @media (max-width: 780px){
      border-radius:2rem;
      order:3;flex:none;
      background: #545A69;padding:1.6rem;
      justify-content: flex-start;
      min-height:19rem;
      &.card__sm{background:#545A69;
        .card__bg{display: none}
      }
      .card__bg{
        img{width:100%;object-position: bottom;object-fit: cover;}
        .svg-pic{
          top:auto;
          bottom:2rem;
        }
      }

      &__badge{position:relative;left:2.4rem;top:auto;margin-bottom:1.6rem;}
      &__title{font-size: 2.8rem;}
      &__txt{p{font-size: 1.6rem}}
      &.card--big{height:38rem;order:1;
        background:#000;
        .card__txt p{font-size: 1em}
      }
      &.card--medium{height:27rem;background:#000;order:2;}
    }
  }

  .news-date{color:#8C92A1;}
  .other-news{
    &__link{text-decoration: none;color:#8C92A1;
      display: flex;align-items: center; cursor:pointer;
      .arrow-icon{margin-left: .8rem;}
      svg{display:block; margin:0;}
      &:hover{
        .arrow-icon{transform: translateX(2px)}
      }
    }
    @media (max-width: 780px){
      position: absolute;bottom:0;
    }
  }
}
