button {
  background: transparent;
  border: none;
}

//article view controls
.controls {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 50rem;
  padding: 7.2rem;
  &:before {
    @extend %ab;
    left: -10%;
    top: 0;
    transform: rotate(10deg);
    z-index: -1;
    pointer-events: none;
    background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 69%
    );
    width: 200%;
    height: 180%;
  }
  //background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,1) 69%);
  transform: translateY(30rem);
  opacity: 0.5;
  transition: 0.6s ease-in-out;
  z-index: -5;
  &._viewed {
    transform: translateY(0);
    opacity: 1;
    z-index: 10;
  }
  .buttons {
    display: flex;
    align-items: center;
    .btn:first-of-type {
      transform: scale(-1, 1);
    }
    .text-link {
      color: #fff;
      background-color: #1f2229;
      font-size: 2.6rem;
      line-height: 3.25rem;
      font-weight: 500;
      margin-left: 2rem;
    }
  }

  .btn {
    -webkit-tap-highlight-color: transparent;
    margin-right: 2rem;
    margin-bottom: 0;
    &:hover {
      opacity: 0.8;
    }
    &.btn-arrow {
      background: #1f2229;
      border-radius: 50%;
      width: 4.6rem;
      height: 4.6rem;
      min-width: auto;
      padding: 0;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: center;
      //position: absolute;right:2rem;top:2rem;
      transition: 0.3s ease-in-out;
    }
    &._hidden {
      display: none;
    }
  }
}

@media (max-width: 780px) {
  .controls {
    padding: 1.6rem;
    width: 100vw;
    .buttons {
      justify-content: space-between;
    }
    .btn {
      border: 0;
      margin: 0;
    }
    .btn:last-of-type {
      order: 2;
      margin-right: 0;
    }
    .text-link {
      order: 1;
      background: #fff;
      text-decoration: none;
      font-size: 1.4rem !important;
      font-weight: 700 !important;
      border-radius: 6rem;
      padding: 1.2rem 2rem;
    }
  }
}
