.header {
  background-color: #1f2229;
  padding: 2.3vh 3.6rem;
  margin-bottom: 1.8vh;
  border-radius: 3.2rem;
  @media (max-width: 780px) {
    padding: 1.2rem 1.6rem;
    margin-bottom: 1.2rem;
    border-radius: 2rem;
  }

  .page {
    &__title {
      margin: 0;
      font-size: clamp(2.4rem, 5.5vh, 4.95rem);
      line-height: 4.8rem;
      margin-bottom: 1.5vh;
      font-weight: 500;
      span {
        display: inline-block;
        transform: scale(-1, 1);
      }

      @media (max-width: 780px) {
        font-size: 2.4rem;
        line-height: 2.9rem;
        margin-bottom: 0.8rem;
      }
    }
  }
  .cards-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .news-date {
    color: #8c92a1;
    font-size: 2.4rem;
    line-height: 3rem;
    font-weight: 500;
    @media (max-width: 780px) {
      font-size: 1.6rem;
      line-height: 2rem;
      font-weight: 500;
    }
  }
  .other-news {
    display: none;
    cursor: pointer;
    &__link {
      color: #8c92a1;
      font-size: 2.4rem;
      line-height: 3rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
    }
    &__text {
      margin-right: 1rem;
    }
    @media (max-width: 780px) {
      &.other-news_desktop {
        display: none;
      }
    }
  }
  .arrow-icon {
    text-align: center;
    background: #ffffff39;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.6rem;
    height: 3.6rem;
    transition: all 0.3s ease-in-out;
  }

  @media (max-width: 780px) {
    .other-news_desktop {
      display: none;
    }
  }
}
