.container {max-width: 90%;width: 100%;
  margin-left: auto;margin-right: auto;
  padding-left: 18px;padding-right: 18px;
  //@media (max-width:1440px){max-width: 116rem;}
  @media (max-width:1000px){max-width: 92%;}
  @media (max-width: 600px) {max-width: 100%;}
}

.section--about{background: #fff;overflow: hidden;
  @media (max-width: 600px){

  }
}

body{overflow: hidden;
  @media (max-width: 600px){
    overflow: auto;
  }
}
.page{padding:2vh  0 5vh;
  &__title{h1{font-size: 6rem;line-height:1.2;display:block;margin: 0;}}
  @media (max-width: 600px){
    padding: 2.4rem 0;
    .page__title{h1{font-size: 3.2rem;line-height: 1.06}}
  }
}


@import "sections/custom-ui";
@import "sections/cards";
@import "sections/articles";



